*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
 header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;   
} 
header div{
    margin-left: 32px;
    margin-right: 52px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 10%;
    padding-top: 5%;
}
 ul li{
   list-style-type: none;
   font-weight: 900;
}
.logo img{
     width: 100px; 
} 
div button{
    background-color: rgb(73, 24, 196);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 9px;
    font-weight: 600;
    margin-top: 10px;
    
}
div button:hover{
    color: blueviolet;
    background-color: white;
    cursor: alias;
   border: 1px solid blueviolet;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    height: 500px;
}
div h1{
    color:rgb(8, 8, 105);
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;

}
.rightside img{
    height: 400px;
    width: 500px;
}
span{
    color: rgb(101, 31, 167);
}
.leftside div{
    width: 500px;
}
